<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2><%= t('home.welcome_title') %></h2>
      <p><%= t('home.system_description') %></p>
      <p><%= t('home.capabilities') %></p>
      <ul>
        <li><strong><%= t('home.create_new_hotels') %></strong> <%= t('home.create_new_hotels_option') %></li>
        <li><strong><%= t('home.manage_hotels') %></strong> <%= t('home.manage_hotels_option') %></li>
      </ul>
      <div class="text-center mt-4">
        <%= link_to t('home.view_hotels_button'), hotels_path, class: 'btn btn-success btn-lg' %>
      </div>
      <br>
      <ul>
        <li><strong><%= t('home.create_new_reservations') %></strong> <%= t('home.create_new_reservations_option') %></li>
        <li><strong><%= t('home.manage_reservations') %></strong> <%= t('home.manage_reservations_option') %></li>
      </ul>
      <div class="text-center mt-4">
        <%= link_to t('home.view_reservations_button'), reservations_path, class: 'btn btn-primary btn-lg mr-3' %>
      </div>
    </div>
  </div>
</div>
