<head>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'rails-ujs' %>
  <%= csrf_meta_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('reservations.index.title') %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= t('reservations.index.title') %></h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="text-center"><%= t('reservations.index.guest_name') %></th>
              <th class="text-center"><%= t('reservations.index.guest_email') %></th>
              <th class="text-center"><%= t('reservations.index.hotel') %></th>
              <th class="text-center"><%= t('reservations.index.check_in') %></th>
              <th class="text-center"><%= t('reservations.index.check_out') %></th>
              <th class="text-center"><%= t('reservations.index.price') %></th>
              <th class="text-center"><%= t('reservations.index.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td class="text-center"><%= reservation.guest_name %></td>
                <td class="text-center"><%= reservation.guest_email %></td>
                <td class="text-center"><%= reservation.hotel&.name %> (<%= reservation.hotel&.stars || 'N/A' %><%= fa_icon 'star' %>)</td>
                <td class="text-center"><%= reservation.check_in.strftime('%d/%m/%Y') %></td>
                <td class="text-center"><%= reservation.check_out.strftime('%d/%m/%Y') %></td>
                <td class="text-center"><%= reservation.currency %> <%= reservation.price %></td>
                <td class="text-center">
                  <%= link_to t('reservations.index.view_button'), reservation_path(reservation), class: 'btn btn-primary btn-sm mr-1' %>
                  <%= link_to t('reservations.index.edit_button'), edit_reservation_path(reservation), class: 'btn btn-warning btn-sm mr-1' %>
                  <%= link_to t('reservations.index.delete_button'), reservation_path(reservation), method: :delete, data: { confirm: t('reservations.index.confirm_delete') }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to t('reservations.index.new_reservation'), new_reservation_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
