<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Reservas</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Reservas</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="text-center">Nombre del Huésped</th>
              <th class="text-center">Nombre del Hotel</th>
              <th class="text-center">Check-in</th>
              <th class="text-center">Check-out</th>
              <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td class="text-center"><%= reservation.guest_name %></td>
                <td class="text-center"><%= reservation.hotel&.name %></td>
                <td class="text-center"><%= reservation.check_in.strftime('%d/%m/%Y') %></td>
                <td class="text-center"><%= reservation.check_out.strftime('%d/%m/%Y') %></td>
                <td class="text-center">
                  <%= link_to 'Ver', reservation_path(reservation), class: 'btn btn-primary btn-sm mr-1' %>
                  <%= link_to 'Editar', edit_reservation_path(reservation), class: 'btn btn-warning btn-sm mr-1' %>
                  <%= link_to 'Eliminar', reservation_path(reservation), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar esta reserva?' }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to 'Nueva Reserva', new_reservation_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
