<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('reservations.show.title') %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= t('reservations.show.title') %></h3>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4"><%= t('reservations.show.hotel_name') %>:</dt>
            <dd class="col-sm-8"><%= @reservation.hotel&.name %> (<%= @reservation.hotel&.stars || 'N/A' %><%= fa_icon 'star' %>)</dd>

            <dt class="col-sm-4"><%= t('reservations.show.guest_name') %>:</dt>
            <dd class="col-sm-8"><%= @reservation.guest_name %></dd>

            <dt class="col-sm-4"><%= t('reservations.show.guest_email') %>:</dt>
            <dd class="col-sm-8"><%= @reservation.guest_email %></dd>

            <dt class="col-sm-4"><%= t('reservations.show.check_in') %>:</dt>
            <dd class="col-sm-8"><%= @reservation.check_in.strftime('%d/%m/%Y') %></dd>

            <dt class="col-sm-4"><%= t('reservations.show.check_out') %>:</dt>
            <dd class="col-sm-8"><%= @reservation.check_out.strftime('%d/%m/%Y') %></dd>

            <dt class="col-sm-4"><%= t('reservations.show.price') %>:</dt>
            <dd class="col-sm-8"><%= @reservation.currency %> <%= @reservation.price %></dd>
          </dl>
        </div>
        <div class="card-footer">
          <%= link_to t('reservations.show.edit'), edit_reservation_path(@reservation), class: 'btn btn-warning' %>
          <%= link_to t('reservations.show.back_to_list'), reservations_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
