<head>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'rails-ujs' %>
  <%= csrf_meta_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Hoteles</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Hoteles</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="text-center">Nombre del Hotel</th>
              <th class="text-center">Dirección del Hotel</th>
              <th class="text-center">Rango de Precios</th>
              <th class="text-center">Teléfono del Hotel</th>
              <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @hotels.each do |hotel| %>
              <tr>
                <td class="text-center"><%= hotel.name %> (<%= hotel.stars || 'N/A' %><%= fa_icon 'star' %>)</td>
                <td class="text-center"><%= hotel.address %></td>
                <td class="text-center"><%= hotel.price_range %></td>
                <td class="text-center"><%= hotel.phone %></td>
                <td class="text-center">
                  <%= link_to 'Ver', hotel_path(hotel), class: 'btn btn-primary btn-sm mr-1' %>
                  <%= link_to 'Editar', edit_hotel_path(hotel), class: 'btn btn-warning btn-sm mr-1' %>
                  <%= link_to 'Eliminar', hotel_path(hotel), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este hotel?' }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <%= link_to 'Nuevo Hotel', new_hotel_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
